@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fff;
}


#containercard {
    background-image: url('../img/main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
    transition: 300ms;
    max-width: 480px;
    min-width: 330px;
    margin-inline: auto;
    border-radius:0px 0px 10px 10px;
}

.card {
    position: absolute;
    width: 300px;
    height: 164px;
    background-color: aqua;
    border-radius: 10px;
}

#cardback {
    right: 15px;
    bottom: 25px;
    background-image: url('../img/card-back.png');
}

#cardfront {
    left: 15px;
    bottom: -70px;
    background-image: url('../img/card-front.png');
    z-index: 1;
}

.logocard {
    margin: 10px;
}

#cardfront div {
    color: rgb(236, 234, 234);
}

.dados {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 1%;
}

#numcard {
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin-bottom: 10PX;
}

#cardname{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

#carddate{
    margin-left: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#cardcod {
    color: rgb(236, 234, 234);
    float: right;
    margin-top: 23%;
    margin-right: 12%;
    font-size: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 120px;
    margin-inline: auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    color: #000;
}

form input {
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(165, 165, 165);
    padding: 10px;
    outline: none;
   
}

form label {
    font-size: 14px;
}

/* Tirando a estilização padrão do input*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Navegador firefox*/
input {
    -moz-appearance: textfield;
    appearance: textfield;

}

.inputmaior {
    width: 100%;
}

.expedicao {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 45%;

}

.inputmenor {
    width: 45%;
}

.inputcod {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 51%;
}

#cardcodinput {
    width: 100%;
}

#revisar{
    margin-top: 10px;
    display: none;
    justify-content: center;
    width: 100%;
}

#alerta{
    text-align: center;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 28, 28, 0.8);
}

#btnconfirmar {
    background-color: rgb(24, 3, 44);
    color: #fff;
    margin-top: 20px;
}

/* Layout de confirmação */

#titulo{
    text-align: center;
    color: #fff;
    display: none;
    transition: 300ms;
}

h1{
    line-height: 300px;
}

#confirmacao{
    display: none;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    transition: 300ms;
}

#confirmacao input{
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: rgb(24, 3, 44);
    color: #fff;
}

#btncorrigir{
    border: solid 2px rgb(172, 56, 56);
}

#btncerto{
    border: solid 2px rgb(52, 175, 58);
    
}

#finalizacao{
    text-align: center;
    display: none;
    margin-top: 150px;
    color: rgb(83, 83, 83);
}

#btninicio{
    margin-top: 60px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: rgb(24, 3, 44);
    color: #fff;
}


