* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containercard {
    background-image: url('../img/main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.card {
    position: absolute;
    width: 300px;
    height: 164px;
    background-color: aqua;
    border-radius: 10px;
}

#cardback {
    right: 15px;
    bottom: 25px;
    background-image: url('../img/card-back.png');
}

#cardfront {
    left: 15px;
    bottom: -70px;
    background-image: url('../img/card-front.png');
    z-index: 1;
}

.logocard {
    margin: 10px;
}

#cardfront div {
    color: rgb(211, 207, 207);
}

.dados {
    display: flex;
    flex-wrap: wrap;
    column-gap: 45%;
    margin-inline: 3%;
}

#numcard {
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin-bottom: 10%;
}




.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#cardcod {
    color: rgb(236, 234, 234);
    float: right;
    margin-top: 23%;
    margin-right: 12%;
    font-size: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 120px;
    margin-inline: auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    color: #000;

}

form input {
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(165, 165, 165);
    padding: 10px;

}

form label {
    font-size: 14px;
}

/* Tirando a estilização padrão do input*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Navegador firefox*/
input {
    -moz-appearance: textfield;
    appearance: textfield;

}

.inputmaior {
    width: 100%;
}

.expedicao {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 45%;

}

.inputmenor {
    width: 45%;
}

.inputcod {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 51%;
}

#cardcodinput {
    width: 100%;
}

#btnconfirmar {
    background-color: rgb(24, 3, 44);
    color: #fff;
    margin-top: 20px;
}